<h1><%= @meetup.name %></h1>

<fieldset>
  <legend>Description</legend>
  <p><%= @meetup.description %></p>
</fieldset>
<fieldset>
  <legend>Location</legend>
  <p><%= @meetup.location %></p>
</fieldset>
